
<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://five.amosjackson.com/style.css">
</head>
<body>
	<img src="http://five.amosjackson.com/header.jpg" id="header">
	<div id="songs">
		<div class="song">
		<img src='http://amosjackson.com/resize?img=http://a810.phobos.apple.com/us/r1000/114/Features/v4/bf/fa/b2/bffab2c1-0d47-7d95-3aa4-13f6b29e11d5/dj.ftrtygsi.170x170-75.jpg' class='dither'>
		<h1>1. Suit & Tie (feat. JAY Z) - Justin Timberlake</h1>
		</div>
		
		<div class="song">
		<img src='http://amosjackson.com/resize?img=http://a806.phobos.apple.com/us/r2000/016/Music/v4/46/55/09/465509be-1cb3-8b41-3282-99ef5f73e92d/12UMGIM54089.170x170-75.jpg' class='dither'>
		<h1>2. I Knew You Were Trouble. - Taylor Swift</h1>
		</div>
		
		<div class="song">
		<img src='http://amosjackson.com/resize?img=http://a1675.phobos.apple.com/us/r1000/068/Music/v4/07/6c/84/076c846a-1285-9ab5-10d8-acc7ac291f82/886443654297.170x170-75.jpg' class='dither'>
		<h1>3. Drinking from the Bottle (feat. Tinie Tempah) - Calvin Harris</h1>
		</div>
		
		<div class="song">
		<img src='http://amosjackson.com/resize?img=http://a1438.phobos.apple.com/us/r1000/106/Features/v4/9e/7a/81/9e7a813a-ff79-d375-a62b-670f13c29274/dj.gggpejub.170x170-75.jpg' class='dither'>
		<h1>4. Impossible - James Arthur</h1>
		</div>
		
		<div class="song">
		<img src='http://amosjackson.com/resize?img=http://a640.phobos.apple.com/us/r2000/017/Music/v4/ad/44/25/ad44257a-32f4-e419-ba4d-369aa1c9bde5/12UMGIM50888.170x170-75.jpg' class='dither'>
		<h1>5. Don't Stop the Party (feat. TJR) - Pitbull</h1>
		</div>
	</div>
</body>
</html>