
<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://five.amosjackson.com/style.css">
</head>
<body>
	<img src="http://five.amosjackson.com/header.jpg" id="header">
	<img src='http://amosjackson.com/resize?img=http://a1252.phobos.apple.com/us/r30/Music/v4/24/94/3d/24943d85-fc77-2614-d2a7-a4a58c34ab5c/5051823092142.600x600-75.jpg' class='dither'>
	<div id="songs">
				
		
		<div class="song">
		<h1>1. </h1><h2>Get Up (Rattle) [feat. Far East Movement] [Radio Edit] - Bingo Players</h2>
		</div>
		
		
		<div class="song">
		<h1>2. </h1><h2>Drinking from the Bottle (feat. Tinie Tempah) - Calvin Harris</h2>
		</div>
		
		
		<div class="song">
		<h1>3. </h1><h2>I Knew You Were Trouble. - Taylor Swift</h2>
		</div>
		
		
		<div class="song">
		<h1>4. </h1><h2>Clown - Emeli Sandé</h2>
		</div>
		
		
		<div class="song">
		<h1>5. </h1><h2>White Noise (feat. AlunaGeorge) - Disclosure</h2>
		</div>
		
		
	</div>
</body>
</html>




