body{

	width:384px;
	overflow-x:hidden;
}

.song{
	margin-bottom:25px;
	width:384px;

}




h1{
	display:inline;
	font-family:'Quattrocento Roman';
	font-size:26px;
	font-weight:bold;
	
}
.dither{
	display:block;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}

h2{
	display:inline;
	font-family:'Quattrocento Roman'
	font-size:23px;
	font-weight:normal;
	

}

* {
	 margin: 0;
	 padding: 0;
 }
#header{
	margin-top:10px;
	margin-bottom:10px;
}