body{

	width:384px;
	overflow-x:hidden;
}

.song{
	display:block;
	width:384px;
	height:100px;

}



h1{
	font-family:'Crimson';
	padding:5px;	
	width:274px;
	font-size:23px;
	font-weight:normal;
	float:right;
}
.dither{

	margin-bottom:5px;
	float:left;
	clear:left;
}

* {
	 margin: 0;
	 padding: 0;
 }
#header{
	margin-top:10px;
	margin-bottom:10px;
}